<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="-1">
  <link rel="icon" href="../static/images/fav.ico">
  <!-- Socket IO
      ================================================== -->
  <link rel="stylesheet" href="../static/content/css/bootstrap.min.css">
  <script src="../static/content/js/jquery-min.js"></script>
  <script src="../static/content/js/bootstrap.min.js"></script>
  <script src="../static/content/js/socket.js"></script>
  <script type="text/javascript" charset="utf-8">
    function fnLoadVisitor() {
      window.href = "../comment";
    }
    //setInterval(function(){ location.reload(true); }, 200000);

    function playZaffiAudio(_val) {
      var myAudio = _val === 1 ? $("#idWelcomeAudio") : _val === 2 ? $("#idNoMaskAudio") : _val === 3 ? $("#idBodyTempAudio") : $("#idOnDemandAudio");
      var _IsPlayed = false;
      $(".my_audio").each(function () {

        if ((!$(this).get(0).ended && !$(this).get(0).paused)) {
          _IsPlayed = true;
          return;
        }
      });
      //console.log("not playing high temp Audio");
      if (!_IsPlayed) {
        $("#idOnDemandAudio").get(0).pause();
        $(".my_audio").each(function () {
          if ((!$(this).get(0).ended && !$(this).get(0).paused)) {
            $(this).get(0).pause();
            $(this).get(0).currentTime = 0;
            return false;
          }
        });
        myAudio.get(0).play();
      }
    }

    // function get(id) {
    //     return document.getElementById(id);
    //   }
    $(document).ready(function () {

      playZaffiAudio(1);
      window.requestAnimationFrame = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
        window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;

      var count = 0
      var start_time = 0
      console.log('socket loading')
      var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
      //console.log(socket)
      socket.on('connect', function () {
        console.log('emtting connect')
        socket.emit('test_event', { data: 'I\'m connected!' });
        console.log('emitting start_stream')
        socket.emit('start_stream', { 'data': 'start_streaming' });
      });
      var _tempDistance=0;
      socket.on('video_feed', function (data, cb) {
        
        var _res = data.data[0];
        var _distance=data.data[1];
        console.log(_distance);
        if (start_time == 0) {
          start_time = new Date();
        }
        var fps = count / ((new Date() - start_time) / 1000)
        // console.log('fps', fps, 'area', data['result']['area'])
        $("#idSelfieFrame").attr("src", "data:image/jpeg;base64," + data['img_frame']);
        if ((_tempDistance !=(+_distance)) && _res!="None")
        {
          _tempDistance=_distance;
          console.log(_tempDistance);
          if (_res === 'nomask') {
          playZaffiAudio(2);
          }
          else if (_res === 'mask') {
            playZaffiAudio(1);
          }
        }
        
        
        // $('#fps').text('FPS - ' + fps)
        if (cb) { cb(); }

      });
    });
  </script>
  <style>
  body {
    background-color: #9e9fa3!important;
  }
  footer.footerbg {
    bottom: 3px;
    width: 100%;
    position: absolute;
}
  .bg-1 {
  background-color: #9e9fa3 ;
  color: #000;
}
  .bg-3 {
    background-color: #b24098;
    /* Green */
    color: #ffffff;
  }
  .header-content {
    /* background-image: url(../static/images/header_bg.png); */
    background-size: contain;
    height: 80px;
   background-color: #542a5c !important;
    text-align: center;
  }

  .textlabelbg {
    background-color: #eee;
    font-size: medium;
    color: darkslategray;
    height: 25px;
  }

  .withmask {
    background-color: #4caf50;
    font-size: 28px;
    color: black;
  }
  
</style>
<title>Zaffi</title>
</head>
<body style="background-image: url('../static/images/666.jpg');       background-repeat: repeat">

  <audio id="idOnDemandAudio">
    <source src="../static/audios/OnDemand.mp3" type="audio/mpeg">
  </audio>
  <audio id="idWelcomeAudio" class="my_audio">
    <source src="../static/audios/Welcome.mp3" type="audio/mpeg">
  </audio>
  <audio id="idBodyTempAudio" class="my_audio">
    <source src="../static/audios/Temperature.mp3" type="audio/mpeg">
  </audio>
  <audio id="idNoMaskAudio" class="my_audio">
    <source src="../static/audios/NoMask.mp3" type="audio/mpeg">
  </audio>

<!-- <div class="container-fluid bg-1 header-content">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="pull-left">
            <div class="row text-center">
              <img src="../static/images/logo.jpeg" style="padding-bottom:19px" height="102px">
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div> 
      <div class="row" id="iderrordiv" style="display: none;">
        <div class="alert alert-danger">
          <strong id="idHardwareFailure"></strong>
        </div>
      </div>
      <div class="col-md-12 col-sm-12" >
        <img id="idSelfieFrame" src="../static/images//mask.jpg" width="720px" height="720px"  style="position: absolute;top: 300px;left:14px">
      </div>
    </div>
  </div>
  <!-- <footer class="footerbg">
    <div class="row text-center" style="background-color:#fff;">
      <img src="../static/images/icon.jpg" style="padding-bottom:3px" height="45px" width="180px">
      <div class="row" style="background-color: #3e6281 !important;">
        <p style="color:red !important;height: 40px;">Powered by :
          <a href="#" target="_blank">
            <img style="max-height: 24px" src="../static/images/logo-redmind.png" alt="PG">
          </a>
        </p>
      </div>
    </div>
    

  </footer> -->
</body>
<!-- 
<body style="background-image: url('../static/images/back.jpg'); background-repeat: repeat">

  <audio id="idOnDemandAudio">
    <source src="../static/audios/OnDemand.mp3" type="audio/mpeg">
  </audio>
  <audio id="idWelcomeAudio" class="my_audio">
    <source src="../static/audios/Welcome.mp3" type="audio/mpeg">
  </audio>
  <audio id="idBodyTempAudio" class="my_audio">
    <source src="../static/audios/Temperature.mp3" type="audio/mpeg">
  </audio>
  <audio id="idNoMaskAudio" class="my_audio">
    <source src="../static/audios/NoMask.mp3" type="audio/mpeg">
  </audio>

<div class="container-fluid bg-1 header-content">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="pull-left">
            <div class="row text-center">
              <img src="../static/images/logo.jpeg" style="padding-bottom:19px" height="102px">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div> 
      <div class="row" id="iderrordiv" style="display: none;">
        <div class="alert alert-danger">
          <strong id="idHardwareFailure"></strong>
        </div>
      </div>
      <div class="col-md-12 col-sm-12" >
        <img id="idSelfieFrame" src="../static/images//mask.jpg" width="640px" height="600px"  style="position: absolute;top: 150px;left:2px">
      </div>
    </div>
  </div>
  <footer class="footerbg">
    <div class="row text-center" style="background-color:#fff;">
      <img src="../static/images/icon.jpg" style="padding-bottom:3px" height="45px" width="180px">
      <div class="row" style="background-color: #3e6281 !important;">
        <p style="color:red !important;height: 40px;">Powered by :
          <a href="#" target="_blank">
            <img style="max-height: 24px" src="../static/images/logo-redmind.png" alt="PG">
          </a>
        </p>
      </div>
    </div>
    

  </footer>
</body> -->

</html>